.project-list {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 1em;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
