.project-item {
  display: none;
  border-radius: 16px;
  align-items: center;
  padding: 2px;
  background: linear-gradient(var(--jet), var(--light-gray-70)) padding-box,
    linear-gradient(
        to right,
        var(--orange-yellow-crayola),
        var(--jet),
        var(--onyx)
      )
      border-box;
  border-width: 4px;
  box-shadow: var(--shadow-4);
}

.project-item.active {
  display: flex;
  flex-direction: column;
  animation: scaleUp 0.25s ease forwards;
}

.project-img,
.description {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.project-title {
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  margin-left: 1em;
  margin-bottom: 10px;
  line-height: 1.3;
  text-align: start;
  width: 100%;
  color: var(--title-color);
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  z-index: 1;

  transition: var(--transition-1);
}
.project-item:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.description {
  padding: 1em;
  justify-content: center;
  height: 150px;
  padding-bottom: 2px;
  color: var(--vegas-gold);
  overflow: hidden;
}

.project-item-icon-box {
  --scale: 0.8;
  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
  a {
    text-decoration: none;
  }
}

.stacks {
  opacity: 0;
  z-index: 1;
  bottom: 0%;
  background: var(--jet);
  position: absolute;
  width: 100%;
  * {
    padding: 1em;
    color: var(--orange-yellow-crayola);
  }
}

.project-item:hover .project-item-icon-box,
.project-item:hover .stacks {
  --scale: 1;
  opacity: 1;
}

.project-item:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
  .project-title {
    color: var(--bg-secondary);
  }
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-img {
  width: 100%;
  border-bottom: 2px solid var(--orange-yellow-crayola);
}
.project-item:hover img {
  transform: scale(1.1);
}

@media (min-width: 450px) {
  .project-img {
    height: auto;
  }
}

@media (min-width: 580px) {
  .project-title {
    font-size: var(--fs-5);
  }
}

@media (min-width: 1024) {
  .project-title {
    font-size: var(--fs-3);
  }
}
