.project-modal-container {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}
.css-1koafzd {
  width: 90% !important;
}
.css-uvll2i {
  background: linear-gradient(#757575, var(--background), #757575) padding-box !important;
}

.content-container {
  display: grid !important;
  margin-bottom: 1em;
}

.img-container {
  width: 100%;
  position: relative;
}

.content {
  width: 100%;
  padding-bottom: 1.62em;
}
.modal-img {
  width: 100%;
}

.link-button {
  width: 100%;
}
.preview-img {
  height: 220px;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 36% 42%;
  animation: pan 20s infinite;
}

.link-buttom {
  * {
    margin: auto;
  }
}

.button-container {
  width: "100%";
}
.closeButton {
  float: right;
}

.stack {
  opacity: 1;
  color: var(--jet);
  position: relative;
  width: 90%;
  padding-bottom: 2em;
  div {
    margin-top: 0.8em;
  }

  div {
    padding: 0.6em;
    color: var(--jet);
    background-color: var(--orange-yellow-crayola);
  }
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
    background-size: 100%;
  }

  20% {
    background-position: 0% 20%;
    background-size: 200%;
  }

  25% {
    background-position: 0% 50%;
    background-size: 200%;
  }

  30% {
    background-position: 25% 0%;
    background-size: 200%;
  }
  35% {
    background-position: 25% 30%;
    background-size: 200%;
  }

  40% {
    background-position: 25% 40%;
    background-size: 200%;
  }
  50% {
    background-position: 90% 0%;
    background-size: 200%;
  }

  60% {
    background-position: 90% 10%;
    background-size: 300%;
  }
  75% {
    background-position: 90% 30%;
    background-size: 300%;
  }
  90% {
    background-position: 10% 50%;
    background-size: 300%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .content-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .img-container {
    position: relative;
  }

  .css-uvll2i::-webkit-scrollbar {
    width: 12px;
    height: calc(100% - 1em);
  }
  .css-uvll2i::-webkit-scrollbar-track {
    background: var(--eerie-black-1);
  }
  .css-uvll2i::-webkit-scrollbar-thumb {
    background: var(--eerie-black-2);
    border-radius: 20px;
    border: 1px solid var(--vegas-gold);
  }
}
