.intro {
  background-color: #fff;
  padding: 4em 1em;
  border-radius: 0.6em;
  margin: 0.62em;
  color: #000;
  width: 650px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.short-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.short-stats > div {
  min-width: 150px;
  border-radius: 1em;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 1em;
  margin: 0;
  background-color: rgb(206, 225, 236);
}
.stats {
  padding: 10px;
  background-color: crimson;
  border-radius: 50%;
}
.donut-container {
  margin: auto;
}
