.filter-list {
  display: none;
  overflow: auto;
}
.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}
.filter-select {
  background: #535353;
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--jet);
  font-size: var(--fs-6);
  font-weight: 400;
}
.filter-select.active .select-icon {
  transform: rotate(0.5turn);
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 450px) {
  .project-img {
    height: auto;
  }
}

@media (min-width: 1024px) {
  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }
}
