.profile {
  width: 300px;
  background-color: #fff;
  padding: 4em 1em;
  border-radius: 0.6em;
  margin: 0.62em;
  color: #000;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.header {
  background-color: #b3d1e2a6;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  border-radius: 0.6em;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75) inset;
}
.profile-picture {
  width: 100px;
  margin: auto;
  margin-top: -50px;
  border-radius: 50%;
  border: 0.32em solid #fff;
}
.name {
  font-weight: 500;
  margin: auto;
  font-size: 1.2em;
}
.profession {
  margin: auto;
  font-size: 0.8em;
  font-weight: 400;
}

.contact {
  display: flex;
  justify-content: space-around;
}
.contact > div {
  background-color: #fff;
  padding: 0.5em;
  width: 75px;
  text-align: center;
  border-radius: 1em;
  margin-top: 0.62em;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.employment-status {
  background-color: rgba(18, 219, 18, 0.459);
  padding: 0.5em 0.5em;
  margin-top: 0.62em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.info {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}
.demographics {
  padding: 0 1.6em;
}
.value {
  font-weight: 500;
}
