:root {
  --primary-color: #a1a2a6;
  --secondary-color: #234459;
  --evergreen: #1d7373;
  --gold: #f2cd5e;
  --happy-gold: #d9a441;
  --bg-gradient-onyx: hsl(0, 0%, 83%);

  --bg-primary: #e0cfa3;
  --bg-secondary: #eeebda;
  --dark-blue: #0b2136;
  --highlight-gold: #cbbc5a;
}

.sidebar {
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  overflow-y: scroll;
  border-radius: 1em;
  margin-top: 1em;
}

.sidebar.active {
  max-height: 700px;
  background: rgba(99, 98, 98, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(99, 98, 98, 0.62);
}

.socials {
  display: flex;
  flex-direction: row;
  text-align: left;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
}
.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  transition: 2s;
}

.info-content .name {
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
  color: var(--light-gray);
}
.info-content .title {
  color: var(--vegas-gold);
  background: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  width: max-content;
  padding: 3px 12px;
}
.info_more-btn {
  position: absolute;
  bottom: -15px;
  right: 0px;
  font-size: 1em;
  color: #2c2c22;
  padding: 0.32em;
  transition: 2s;
  z-index: 1;
}

.info_more-btn:focus,
.info_more-btn:hover {
  background: #2c2c22;
  color: #fff;
}

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: 2s;
}
.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
  transition: 2s;
}
.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  max-width: max-content;
}
.contact-item {
  min-width: max-content;
  display: flex;
  gap: 1em;
  text-align: left;
}
.contact-info {
  color: var(--light-gray);
  max-width: calc(100vw - 46px);
  width: calc(100vw - 46px);
}
.contact-title {
  color: var(--bg-primary);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 580px) {
  :root {
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;
  }
  .sidebar {
    margin: 0.62em;
    padding: 15px;
  }
  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  .sidebar-info {
    gap: 25px;
  }
  .info-content .name {
    margin-bottom: 15px;
  }
  .info-content .title {
    padding: 5px 18px;
  }
  .info_more-btn span {
    display: block;
    font-size: 1em;
  }
  .separator {
    margin: 32px 0;
  }
  .contacts-list {
    gap: 20px;
  }
  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    border-radius: 1em;
    margin: 0.62em;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 950px;
    margin-inline: auto;
    box-shadow: var(--shadow-5);
  }
}
@media (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }
  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }
  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }
  body::-webkit-scrollbar-button {
    height: 60px;
  }
  .sidebar {
    width: max-content;
  }
  .sidebar {
    position: sticky;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    z-index: 1;
  }
  .sidebar-info {
    flex-direction: column;
  }
  .info-content .name {
    white-space: nowrap;
    text-align: center;
  }
  .info-content .title {
    margin: auto;
  }
  .info_more-btn {
    display: none;
  }
  .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }
  .contacts-list {
    grid-template-columns: 1fr;
  }
  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .contact-info :is(.contact-link, time, address) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }
}
