.about {
  margin-bottom: 15px;
}

h1 {
  display: flex;
  flex-direction: row;
  color: var(--light-gray-70);
}

h1 > span {
  width: 50px;
  background-color: var(--vegas-gold);
  height: 5px;
  position: absolute;
  top: 30px;
}
.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}
.about-text p {
  margin-bottom: 15px;
}

.cv-button {
  padding: 0.62em;
  font-size: var(--fs-6);
  background: linear-gradient(#757575, var(--white-2)) padding-box !important;
  border: 1.2px solid var(--orange-yellow-crayola);
  border-radius: 10px;
  box-shadow: var(--shadow-4);
}

@media (min-width: 580px) {
  .about {
    margin-bottom: 20px;
    top: 15px;
  }
  .about-text {
    margin-bottom: 40px;
  }
}
