li {
  list-style: none;
}

.timeline {
  margin-bottom: 30px;
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

a {
  .timeline-text {
    color: var(--bg-primary);
  }
}
