.skill-title {
  width: max-content;
  color: var(--title-color);
}

.MuiPaper-root {
  background: linear-gradient(#757575, var(--background)) padding-box !important;
  border: 1px solid var(--orange-yellow-crayola);
}
